<nav class="red darken-5">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Cat`o`pedia</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Main</a></li>
        <li><a href="/create">Create article</a></li>
      </ul>
    </div>
</nav>
