<ul>
  <li>
    <span style="margin-left: 50%; font-size: 36px;">{{Cat.title}}</span><br>
    <img src={{Cat.imageURL}} height="400" width="400" style="float:left; margin: 7px 0 7px 7px;">
    <div class="longTextBlock" style="margin-left : 450px; font-size: 36px">{{Cat.longText}}</div>
  </li>
</ul>
