<form action="/create" method="POST">
  <h1>Create article</h1>
  <div class="input-field">
    <h6>Article title</h6>
    <input type="text" name="title">
  </div>
  <div class="input-field">
    <h6>Image URL</h6>
    <input type="text" name="imageURL">
    <h6>Long article text</h6>
    <textarea name="longText"></textarea>
    <h6>Short article text</h6>
    <textarea name="shortText"></textarea>
  </div>
  <button type="submit" class="btn">Create</button>
</form>
